* {box-sizing: border-box;  border: thin solid black;}
* {background-color: orange;}


#left-side {
  width: 22.33333%;
  float: left;
  font-size: 25px;
}

#right-side {
  width: 77.66666%;
  float: right;
  text-align: center;
}

.card {
  width: 45%;
  border: thin solid #dadada;
  float: left;
  margin: 2.5%;
}

.card img {
  width: 90%;
  text-align: center;
}

.card button {
  float: right;
  padding: 5%;
  margin: 5%;
  border-radius: 6px;

}
.item {
   float: left;
   width: 25%;   
   display: inline;
}


/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

button{
font-size: 25px;
display: table;
color: blue;;
}

.card button{
color: blue;
}

.subitem   { border: thin solid black; 
				
				font-size: 25px;	
				width: 100%;
				text-align: center;
}


.submenu { display: none;}

.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}
